<!DOCTYPE html>
<html data-ng-app="app">
<head>
  	<meta http-equiv="Content-Type" 	content="text/html; charset=UTF-8">
    <meta name="robots" 				content="index, follow"><!-- index, noindex, follow, nofollow -->
  	
  	<title></title>
    <meta name="description" 	content="{{i18n.meta_description}}">
    <meta name="author" 		content="humans.txt">

    <!-- build:css css/app.min.css -->
    <link rel="stylesheet" href="styles/bootstrap.css"><!-- compile after bower -->
    <link rel="stylesheet" href="styles/accessibility.css">
    <!-- endbuild -->

</head>
<body class="container" data-ng-controller="AppCtrl">

<div data-ng-view></div>

<h2>Directives</h2>


<h3>markdown</h3>
<div class="well">
	<div class="row">
		<div class="span5"><textarea data-ng-model="markdown" rows="7"></textarea></div>
		<div class="span5" data-ng-bind-html-unsafe="(markdown | markdown)"></div>
	</div>
</div>

<h3>signature</h3>
<div class="well">
	<div data-signature data-ng-model="signature" data-width="300" data-height="200"></div>
</div>


<h2>Filters</h2>
<div class="well">
	<div class="row">
		<div class="span5">
			<input type="text" placeholder="colorHash" data-ng-model="filter.colorHash.custom">
			<div class="label" data-ng-style="{backgroundColor:'#'+(filter.colorHash.custom | colorHash)}">#{{filter.colorHash.custom | colorHash}}</div>
			<pre>{ { string | colorHash } }</pre>
		</div>
		<div class="span5">
			<div class="label" data-ng-repeat="item in filter.colorHash.list" data-ng-style="{backgroundColor:'#'+(item | colorHash)}">{{item}} -> #{{item | colorHash}}</div>
		</div>
	</div>
</div>

<div class="well">
	<input type="text" placeholder="duration" data-ng-model="filter.duration.custom">
	{{filter.duration.custom | duration}}
	<ul>
		<li data-ng-repeat="item in filter.duration.list">{{item}} -> {{item | duration}}</li>
	</ul>
</div>

<h2>Modules</h2>
<h3>accessibility</h3>
<div class="well accessibility">
	<p>Text , . </p>
	<p>Text , . </p>
	<p>Text , . </p>
</div>


<script src="components/angular/angular.js"></script>

<script src="scripts/ie.js"></script>
<script src="scripts/jquery.fb.js"></script>

<!-- !Liabraries -->
<script src="components/marked/lib/marked.js"></script>

<!-- !Angular.io -->
<script src="scripts/app.js"></script>
<script>
angular.module('app', ['io']);

function AppCtrl($scope) {
	var now = +new Date();
	$scope.filter = {};
	$scope.filter.colorHash = {custom:'', list:['colorHash', 'to do', 'friends', 'to read']};
	$scope.filter.duration = {custom:now, list:[
		// past
		(now - 7 * 86400 * 1000),
		(now - 3 * 86400 * 1000),
		(now - 1 * 86400 * 1000),
		(now - 12 * 3600 * 1000),
		(now - 1 * 3600 * 1000),
		(now - 30 * 60 * 1000),
		(now - 30 * 1000),
		(now),
		// future
		(now + 30 * 1000),
		(now + 30 * 60 * 1000),
		(now + 1 * 3600 * 1000),
		(now + 12 * 3600 * 1000),
		(now + 1 * 86400 * 1000),
		(now + 3 * 86400 * 1000),
		(now + 7 * 86400 * 1000),
	]};
	$scope.filter.format = 'test';
	
	$scope.signature = [];
	$scope.markdown = '# H1\n'+
		'## H2\n'+
		'### H3\n'+
		'**b**\n'+
		'*em*\n'+
		'\n'+
		'- li\n'+
		'***\n';
	
	
};
</script>

<!-- working on -->


<!--<script src="scripts/app.rootScope.js"></script>-->
<script src="scripts/modules/404.js"></script>
<script src="scripts/modules/accessibility.js"></script>

<!--<script src="scripts/factories/markdown.js"></script><!-- Requires components/marked/lib/marked.js -->

<!-- !Angular.io Controllers -->
<!--<script src="scripts/controllers/templateurl.js"></script>
<script src="scripts/controllers/sign.js"></script>
<script src="scripts/controllers/confirm.js"></script>
<script src="scripts/controllers/reset.js"></script>
<script src="scripts/controllers/password.js"></script>
<script src="scripts/controllers/notifications.js"></script>
<script src="scripts/controllers/onboard.js"></script>
<script src="scripts/controllers/invite.js"></script>
<script src="scripts/controllers/security.js"></script>
<script src="scripts/controllers/user.js"></script>-->
<!--<script src="scripts/controllers/company.js"></script>-->

<!-- Angular.io Plugins -->
<!--<script src="scripts/modules/contact.js"></script>
<script src="scripts/modules/follow.js"></script>
<script src="scripts/modules/message.js"></script>
<script src="scripts/modules/filepicker.js"></script>-->

<!-- !AngularIO -->
<script src="scripts/directives/alert.js"></script>
<script src="scripts/directives/htmlExtend.js"></script>
<script src="scripts/directives/inputMask.js"></script>
<script src="scripts/directives/modal.js"></script>
<script src="scripts/directives/navbar.js"></script>
<script src="scripts/directives/passwordCheck.js"></script>
<script src="scripts/directives/selectSize.js"></script>
<script src="scripts/directives/signature.js"></script>
<script src="scripts/directives/tabs.js"></script>

<script src="scripts/factories/fluid.js"></script>
<script src="scripts/factories/function.js"></script>
<script src="scripts/factories/time.js"></script>

<script src="scripts/filters/colorHash.js"></script>
<script src="scripts/filters/duration.js"></script>
<script src="scripts/filters/format.js"></script>
<script src="scripts/filters/markdown.js"></script>
<script src="scripts/filters/ordinal.js"></script>
<script src="scripts/filters/pad.js"></script>
<script src="scripts/filters/range.js"></script>
<script src="scripts/filters/truncate.js"></script>



</body>
</html>
